<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Rectangle</title>
    
    <link rel="stylesheet" href="../stylesheets/style.css">
    <link rel="stylesheet" href="../stylesheets/window_style.css">

</head>
<body>
    <table>
        <tr>
            <td>ID</td>
            <td>
                <input type="number" id="id" name="id" value="<%= result.id %>" required disabled />
            </td>
        </tr>

        <tr>
            <td>Name</td>
            <td>
                <input type="text" id="name" name="name" value="<%= result.name %>" required />
            </td>
        </tr>

        <tr>
            <td>Width (px)</td>
            <td>
                <input type="number" id="width" name="width" value=<%= result.width %> required />
            </td>
        </tr>

        <tr>
            <td>Height (px)</td>
            <td>
                <input type="number" id="height" name="height" value=<%= result.height %> required />
            </td>
        </tr>

        <tr>
            <td>Color</td>
            <td>
                <input type="color" id="color" name="color" value="<%= result.color %>" required />
            </td>
        </tr>
    </table>

    <button onclick="cancelEdit()">Cancel</button>
    <button onclick="editRect()">Edit Rectangle</button>
</body>

<script src="../javascripts/jquery.min.js"></script>
<script src="../javascripts/edit.js"></script>
</html>