<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rectangle Details</title>
    
    <link rel="stylesheet" href="../stylesheets/style.css">
    <link rel="stylesheet" href="../stylesheets/window_style.css">

</head>
<body>
    <table>
        <tr>
            <td>ID</td>
            <td> <%= result.id %> </td>
        </tr>

        <tr>
            <td>Name</td>
            <td> <%= result.name %> </td>
        </tr>

        <tr>
            <td>Width (px)</td>
            <td> <%= result.width %> </td>
        </tr>

        <tr>
            <td>Height (px)</td>
            <td> <%= result.height %> </td>
        </tr>

        <tr>
            <td>Color</td>
            <td> <%= result.color %> <input type="color" value="<%= result.color %>" disabled> </td>
        </tr>
    </table>
</body>

<script src="../javascripts/jquery.min.js"></script>
<script src="../javascripts/script.js"></script>
</html>